*log
*gz
*pyc
.vscode/settings.json
/onePop2CAT/*
*.txt
SLiM/
diploSHIC
SLiM
.vscode
*dump
*msOut
*fvec
*.model*
*model*
checkpoint
*out 
*err 
*.npy
timesweeper/train_network.sb
*.err
*.out
*muts*
sample_dict.csv
onePop-selectiveSweep-20Samp-10Int
*training.png