*log
*gz
*pyc
.vscode/settings.json
/onePop2CAT/*
*.txt
SLiM/
diploSHIC
SLiM
.vscode
*dump
*msOut
*fvec
*.model*
checkpoint
*out 
*err 
*.npy
src/train_network.sb
*.err
*.out
*muts*
sample_dict.csv
onePop-selectiveSweep-20Samp-10Int
*training.png
.snakemake
/results
*.bed
*.snp
*.ind
*.geno
*.fna*
*.zip
*bam*
*.fa*
msmc